
body {
    width: 100vw;
    height: 200vh;
    background: radial-gradient(50% 50% at 50% 50%, #292D31 0%, #1C1D1E 100%);
    overflow-x:hidden;
}
.content {
    
    padding:20vw 0px 150px 0px;
    width: 80%;
    margin: auto;
    margin-top:100px;
    margin-bottom:100px;
    background-color: #222629;
    border-radius:15px;
    justify-content:center;
}

    .content p {
        width: 80%;
        color: #6B6E70;
        margin: auto;
        padding-top: 15px;
        text-align: justify;
        text-indent: 50px;
        line-height: 18px;
    }

.title {
    color: #86C232;
    text-transform:uppercase;
    position: absolute;
    left: 50%;
    top: 17vh;
    font-size: 4vw;
    transform: translateX(-50%);
}

.Sugestions
{
    margin-top:100px;
}

    .Sugestions h3 {
        color: #86C232;
        text-align:center;
        font-size: 40px;
    }

    .Sugestions ul {
        color: #61892F;
        margin-top:15px;
    }