body {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #292D31 0%, #1C1D1E 100%);
}


.content
{
    position:absolute;
    width:90vw;
    height:80vh;
    margin:auto;
    font-size:1vw;
}

.title {
    font-size: 400%;
    text-align: center;
    margin-top: 50px;
    color: #86C232;
}

.buttons
{
    display:flex;
}

.side
{
    flex:1;
    position:relative;
    height:60vh;
    font-size:5vw;
}

.circle {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 15vw;
    width: 15vw;

    min-height:200px;
    min-width:200px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 5px solid #474B4F;
    box-shadow: 0px 0px 80px #474B4F, 0px 0px 50px black inset;
    
}


.circle:hover img
{
    height:60%;
    width:60%;
}

    .circle:hover {
        box-shadow: 0px 0px 80px #86C232, 0px 0px 50px black inset;
        border: none;
    }

    .circle img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 50%;
        width: 50%;
        transition: .15s ease-out;
    }

.text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50%;
    color: #61892F;
    letter-spacing:2px;
}