@{
    ViewBag.Title = "About";
}
<h2 class="title">@ViewBag.Title</h2>

<div class="content">
    <p>
        Being overweight and obese has become a major problem in many leading nations. This has led to an increase in diet-related disorders like diabetes, obesity and high blood pressure.
    </p>
    <p>
        Nearly 80% of adults and 56% of children do not eat enough fruits and vegetables. The situation is really bad in other countries as well. The Australia’s Health 2018 report found that more than 99%of children and 96% of adults don’t eat the recommended intake of five serves of vegetables a day.
    </p>
    <p>
        Research has shown that eating at least 2-5 cups of fresh green vegetables along with 30-60 minutes of physical activity can help lower risk of becoming overweight and also cut the risk of cancer, heart disease, Type 2 diabetes and obesity.
    </p>
    <p>
        Here are the main reasons why you should eat green vegetables every day:
    </p>
    <p>
        Green vegetables give you stronger bodies!
    </p>
    <p>
        Popeye the spinach-loving sailor actually helped increased America’s consumption of the leafy green vegetable by 33%! Now science is backing the fact that the more greens we eat, the better it is for muscle strength. Leafy greens and green vegetables contain plenty of vitamins and minerals which help the body absorb protein and amino acids.
    </p>
    <p>
        One serving of kale contains more calcium than one serving of milk and more vitamin C than an orange. The lutein and indoles found in green vegetables like broccoli, bok choy, asparagus etc help make bones and teeth stronger. They also enhance muscle recovery and tissue repair.
    </p>
    <p>
        Reduce the risk of cancer
    </p>
    <p>
        Eating leafy greens provides you with antioxidants and phytochemicals which can reduce the risk of certain cancers. These nutrients fight free radical damage caused by toxins and pollutants in our environment. Therefore, adding green vegetables to your daily diet is definitely going to improve your long-term health and lower your risk of many diseases.
    </p>
    <p>
        They make you look good!
    </p>
    <p>
        The fiber, vitamins, minerals and phytochemicals in green vegetables provide you with all the nourishment your hair and skin need, giving them a natural glow. With regular consumption of green vegetables, you can reduce the effects of environmental pollutants that accelerate aging.
    </p>
    <p>
        Green vegetables contain vitamin C, a collagen building antioxidant, which fights wrinkles, grey hair and other signs of aging. Greens also fight acne, rosacea and other skin conditions while strengthening the hair and reducing hair fall.
    </p>
    <p>
        They give you greater energy
    </p>
    <p>
        With regular consumption of green vegetables, you not only have lower cholesterol, but also improved vision, better bone and bowel health. The fiber in green veggies eliminates piled up toxins and waste in the colon to prevent constipation. This helps you get more energy to do your day to day tasks. They also prevent age-related memory loss and improve cognitive and brain function.
    </p>
    <p>
        Aid in weight management
    </p>
    <p>
        Greens increase satiety and keep you full longer. They help control hunger pangs and aid in weight management. Green veggies help your body absorb nutrients and essential fatty acids better to improve organ functioning and enhance metabolism. This automatically helps the body burn fat more effectively and maintains weight.
    </p>

    <div class="Sugestions">
        <h3>Best greens to consume daily</h3>
        <p class="introduction"> A study has shown that 5 powerhouse plant-based foods are all greens and they are:</p>
        <ul>
            <li> Watercress</li>
            <li>Chinese cabbage</li>
            <li>Swiss chard</li>
            <li>Beet greens</li>
            <li>Spinach</li>
        </ul>
    </div>
</div>

@section forPage { @Styles.Render("~/Content/Style/AboutAndContact/About.css")}
